@model Minibus.Web.Models.Routes.RouteTemplateModel

<div class="view-content float-left" data-ng-controller="DayTemplateController">
	<div>
		<span class="title">Дни</span>
	</div>
	<div data-ng-repeat="day in days" class="day-template container float-left">
		<form data-ajax-form="dayForm" method="post" novalidate="novalidate">
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.id, new Dictionary<string, object> { { "data-ng-model", "day.id" }, { "data-ng-value", "day.id" } })
			@Html.HiddenFor(m => m.templateId, new Dictionary<string, object> { { "data-ng-model", "day.templateId" }, { "data-ng-value", "day.templateId" } })
			<div class="form-field float-left">
				@Html.LabelFor(m => m.name, "Название шаблона:")
				@Html.TextBoxFor(m => m.name, new Dictionary<string, object> { { "data-ng-model", "day.name" } })
			</div>
			<div class="float-left full-width">
				<hr />
			</div>
			<div class="route-template container float-left">
				<div class="form-field float-left">
					@Html.LabelFor(m => m.name, "Выбранный шаблон:")
					<select data-ng-model="day.routeToDayTemplate" data-ng-options="route.name for route in routes" data-ignore-form="dayForm"></select><br>
				</div>
				<div class="float-left full-width">
					<hr />
				</div>
				<div class="form-field float-left">
					@Html.LabelFor(m => m.time, "Время отправления:")
					@Html.TextBoxFor(m => m.time, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.time" }, { "data-ignore-form", "dayForm" } })
				</div>
				<div class="form-field float-right">
					@Html.LabelFor(m => m.placesCount, "Кол-во мест:")
					@Html.TextBoxFor(m => m.placesCount, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.placesCount" }, { "data-ignore-form", "dayForm" } })
				</div>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.from, "Откуда:")
					@Html.TextBoxFor(m => m.from, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.from" }, { "data-ignore-form", "dayForm" } })
				</div>
				<div class="form-field float-right">
					@Html.LabelFor(m => m.to, "Куда:")
					@Html.TextBoxFor(m => m.to, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.to" }, { "data-ignore-form", "dayForm" } })
				</div>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.driver, "Водитель:")
					@Html.TextBoxFor(m => m.driver, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.driver" }, { "data-ignore-form", "dayForm" } })
				</div>
				<div class="form-field float-right">
					@Html.LabelFor(m => m.driverPhone, "Телефон водителя:")
					@Html.TextBoxFor(m => m.driverPhone, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.driverPhone" }, { "data-ignore-form", "dayForm" } })
				</div>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.carNumber, "Номер машины:")
					@Html.TextBoxFor(m => m.carNumber, new Dictionary<string, object> { { "data-ng-model", "day.routeToDayTemplate.carNumber" }, { "data-ignore-form", "dayForm" } })
				</div>

				<div class="float-cleaner">
					<input type="button" class="float-right" data-ng-value="'Добавить маршрут'" data-ng-click="addRouteToDayTemplate(day, day.routeToDayTemplate)" />
				</div>
			</div>

			<div data-ng-repeat="route in day.routes" class="route-template container float-left">
				<input type="hidden" name="routes[{{$index}}].id" data-ng-model="route.id" data-ng-value="route.id"></input>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.time, "Время отправления:")
					<input type="text" name="routes[{{$index}}].time" data-ng-model="route.time" data-ng-value="route.time"></input>
				</div>
				<div class="form-field float-right">
					@Html.LabelFor(m => m.placesCount, "Кол-во мест:")
					<input type="text" name="routes[{{$index}}].placesCount" data-ng-model="route.placesCount" data-ng-value="route.placesCount"></input>
				</div>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.from, "Откуда:")
					<input type="text" name="routes[{{$index}}].from" data-ng-model="route.from" data-ng-value="route.from"></input>
				</div>
				<div class="form-field float-right">
					@Html.LabelFor(m => m.to, "Куда:")
					<input type="text" name="routes[{{$index}}].to" data-ng-model="route.to" data-ng-value="route.to"></input>
				</div>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.driver, "Водитель:")
					<input type="text" name="routes[{{$index}}].driver" data-ng-model="route.driver" data-ng-value="route.driver"></input>
				</div>
				<div class="form-field float-right">
					@Html.LabelFor(m => m.driverPhone, "Телефон водителя:")
					<input type="text" name="routes[{{$index}}].driverPhone" data-ng-model="route.driverPhone" data-ng-value="route.driverPhone"></input>
				</div>

				<div class="form-field float-left">
					@Html.LabelFor(m => m.carNumber, "Номер машины:")
					<input type="text" name="routes[{{$index}}].carNumber" data-ng-model="route.carNumber" data-ng-value="route.carNumber"></input>
				</div>

				<div class="float-cleaner">
					<input type="button" class="delete-button float-right" value="Удалить маршрут" data-ng-click="deleteRouteFromDayTemplate(day, $index)" />
				</div>

			</div>
		</form>

		<div class="float-cleaner">
			<input type="button" class="float-right" data-ng-value="day.templateId ? 'Сохранить' : 'Добавить'" data-ng-click="saveDayTemplate(day, dayForm)" />
			<input type="button" class="delete-button float-right" value="Удалить" data-ng-show="day.templateId" data-ng-click="deleteDayTemplate($index, day, dayForm)" />
		</div>
	</div>
</div>
