@using Minibus.Web.Core
@model Minibus.Web.Models.Authentication.LoginModel

<div class="popup-container hidden-element">
	<div class="popup-back">
	</div>
	<div class="popup" data-ng-controller="LoginController">
		<div class="popup-header">
			<span>Вход</span>
			<a class="close-popup-button close-button close-popup">
				<img src="~/Content/img/close_popup.png" alt="close" />
			</a>
		</div>
		<div class="popup-body">
			@using (Html.BeginRouteForm(AppRoutes.Authentication.Login, FormMethod.Post, new Dictionary<string, object> { { "data-ajax-form", "loginForm" } }))
			{
				@Html.AntiForgeryToken()
				<div class="form-field">
					@Html.LabelFor(m => m.Login, "Логин")
					@Html.TextBoxFor(m => m.Login)
				</div>
				<div class="form-field">
					@Html.LabelFor(m => m.Password, "Пароль")
					@Html.PasswordFor(m => m.Password)
				</div>
				<br />
				<div>
					<input type="button" value="Войти" data-ng-click="login()" />&nbsp;{{message}}
				</div>
			}
		</div>
	</div>
</div>
